@font-face {
    font-family: 'Figtree';
    src: url('assets/fonts/Figtree-VariableFont_wght.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Figtree';
    src: url('assets/fonts/Figtree-Italic-VariableFont_wght.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Figtree';
    src: url('assets/fonts/static/Figtree-ExtraBold.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'Figtree';
    src: url('assets/fonts/static/Figtree-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}


body, html {
    height: 100%;
    margin: 0;
    background-color: hsl(47, 88%, 63%);
}

.grid {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}
  
.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.blog-picture {
    margin: 7px;
    height: 200px;
}

#illustration-article {
    border-radius: 10px;
}

.box {
    display: flex;
    width: 350px;
    height: 500px;
    border-radius: 20px;
    flex-wrap: wrap;
    padding: 1em;
    background-color: hsl(0, 0%, 100%);
    box-shadow: 7px 7px 0px 0px rgb(0, 0, 0),
    -.5px -.5px 0px 0px rgb(0, 0, 0);
    flex-direction: row;
    align-content: flex-start;
    justify-content: center;
}

.blog-info {
    margin: 10px;
}

.blogtopic-h2 {
    display: inline-block;
    margin-bottom: 7px;
    margin-top: 7px;
    padding: 7px;
    border-radius: 5px;
    font-size: 16px;
    background-color: hsl(47, 88%, 63%);
    font-family: Figtree, sans-serif;
    font-weight: 800;
}

.publish-h3 {
    margin-bottom: 7px;
    margin-top: 7px;
    font-size: .85em;
    font-family: Figtree, sans-serif;
    font-weight: 600;
}

.blogname-h1 {
    margin-bottom: 18px;
    margin-top: 19px;
    font-size: 24px;
    font-family: Figtree, sans-serif;
    font-weight: 800;
}

.blogcontent-p {
    margin-bottom: 7px;
    margin-top: 7px;
    font-size: 16px;
    line-height: 1.5;
    font-family: Figtree, sans-serif;
    color: hsl(0, 0%, 50%);
}

.user-h2 {
    margin-top: 16px;
    margin-bottom: 2px;
    margin-left: 14px;
    font-family: Figtree, sans-serif;
    font-size: 14px;
}

.user-container {
    display: flex;
    align-items: center;
}

.user-container img {
    margin-top: 16px;
    margin-bottom: 2px;
    max-width: 35px;
}

.attribution {
    font-size: 11px; 
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

@media only screen and (max-width: 375px) {

    .box {
        width: 90%;
        max-width: 275px;
        margin: 5px;
        height: 430px;
    }

    .publish-h3 {
        font-size: 12px;
    }

    .blogtopic-h2 {
        font-size: 14px;
    }
    
    .blogname-h1 {
        font-size: 20px;
    }

    .blogcontent-p {
        font-size: 13px;
    }

    .blog-picture {
        height: auto;
    }

    #illustration-article {
        width: 100%;
        height: auto;
    }
}

@media only screen and (min-width: 1400px) {
    .grid {
        width: 1440px;
    }
}