.attribution {
    font-size: 11px; 
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

body, html {
    height: 100%;
    margin: 0;
    background-color: rgb(212, 225, 241);
}

.grid {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}
  
.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
  
.box {
    width: 300px;
    height: 475px;
    display: flex;
    background-color: white;
    border-radius: 20px;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    padding: 1em;
    box-shadow: 5px 5px 10px rgba(50, 50, 50, 0.5);
}

h1 {
    color: black;
    font-family: Outfit;
    font-size: 20px;
    align-self: center;
    margin-top: 5%;
    margin-left: 10%;
    margin-right: 10%;
    font-weight: 700;
    text-align: center;
}
p {
    color: black;
    font-family: Outfit;
    font-size: 15px;
    align-self: center;
    font-weight: 400;
    margin-left: 10%;
    margin-right: 10%;
    text-align: center;
    color: hsl(220, 15%, 55%);
}

#qr {
    border-radius: 20px;
    width: 300px;
    height: 300px;
    align-self: center;
    justify-self:center;
}